* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
}

li {
	list-style: none;
}
