@import '../../styles/abstract/mixins';

.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;

    &__left {
        width: 15%;
    }

    &__right {
        width: 85%;
        margin-top: 2rem;
    }

    .box {
        width: 150px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        @include flex-center(flex, row, center, center);
        margin: 3rem 0;
    }

    .taskcount {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    &__rightContent {
        width: 100%;
        text-align: center;

    }

    .button {
        background-color: red;
        color: white;
        width: 20rem;

    }
}