@import '../../styles/abstract/mixins';

.signup-form {
    width: 100vw;
    height: 100vh;
    @include flex-center(flex, row, center, center);

    &__wrapper {
        width: 50%;
        height: 400px;

        .form {
            width: 100%;
            height: 100%;
            padding: 10px;
            @include flex-center(flex, column, center, center);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;

            .form-group {
                margin-bottom: 1rem;
                width: 50%;
                text-align: center;

                input {
                    width: 100%;
                    padding: 1rem;
                    outline: none;
                }

            }
        }

    }
}