.button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    min-width: 150px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}