.header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    height: 60px;
    padding: 0 20px;

    &__logo {
        h5 {
            color: white;
            font-weight: 300;
        }
    }

    .button {
        background-color: white;

    }


}