.addtask {
    width: 100%;

    form {
        width: 70%;
        margin: 3rem;
        display: flex;

    }

    input {
        padding: 5px;
        width: 30rem;
        border: none;
        outline: none;
        background-color: whitesmoke;
        border-radius: 5px;

    }
}